.main {
	margin-top: 62px;
}

.navbar-nav>li {
    float: left;
}
.navbar-nav .fa {
	font-size: 24px;
}

.riders-list,
.races-list {
	padding-top: 10px;
}

.race .race-results .result {
	padding-bottom: 3px;
}
.race .race-results .result:nth-child(odd) {
	background-color: #eee;
}
.race .header {
	font-weight: bold;
}