.wrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 30px;
}
a,
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.primary-nav {
	overflow: hidden;
	margin-bottom: 15px;
}
.primary-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.primary-nav ul li {
	float: left;
	margin-right: 15px;
}

.user-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}